.container {
  display: flex;

}



.card button {
  background-color: #ff4757;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #e84118;
}

.recipeList {
  display: flex;

  flex-wrap: wrap;
  margin-top: 3%;

}

.formed {
  width: 30%
}

.cardContainer {
  width: 330px;
  min-height: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
  margin-right: 20px;
  overflow: auto;

}


@media screen and (max-width: 576px) {
  .container {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .recipeList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formed {
    width: 300px;
  }
 
  
}
